{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "document": false
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb",
    "airbnb/hooks",
    "prettier",
    "plugin:react/jsx-runtime"
  ],
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "default-param-last": 0,
    "react/function-component-definition": 0,
    "no-console": ["error", { "allow": ["warn", "error"] }]
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
